 <!-- About Section -->
    <section  id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <p>Welcome. This project is home to research, training, and outreach activities that promote employment for individuals with intellectual and developmental disabilities (IDD).</p>

<p>We are funded by the National Institute on Disability and Rehabilitation Research in the US Department of Education.</p>
                </div>
               
            </div>
        </div>
    </section>