 <!-- About Section -->
<div class="container">

    <div class="panel panel-default" style="border-color:#5D9732; border-width:.5em; margin-top:2em;">
  <div class="panel-body">
<h3>Got 44 Minutes to Think About Employment?</h3>
 <img src="/img/44.png" alt="44" style="max-width:200px; margin:2em;" class="pull-left">
<h4>Webinar Archive--Employment Support Professionals: Leaders for Change</h4>

<p>Thanks to everyone who attended this online event. If you weren’t able to join us, <strong><a href="http://connectpro97884399.adobeconnect.com/p29kopfnl5i/"></strong>here’s a link to the recording</a>.
 </p>

<p>This is the first webinar in our series called “New Conversations About Integrated Employment.” Stay tuned for information about the next event, coming up in September!</p>
</div>
     </div>

</div>

    <section  id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <p>Welcome. This project is home to research, training, and outreach activities that promote employment for individuals with intellectual and developmental disabilities (IDD).</p>

<p>We are funded by the National Institute on Disability and Rehabilitation Research in the US Department of Education.</p>
<p>The RRTC is a project of the Institute for Community Inclusion at the University of Massachusetts Boston.</p>
                </div>

            </div>
        </div>
    </section>
