<!-- Contact Section -->
<section id="contact_static">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Staff</h2>
				<hr class="star-primary">
			</div>
		</div>
		<div class="row">
			

<ul>
<li>John Butterworth, Principal Investigator; <a href="mailto:john.butterworth@umb.edu">john.butterworth@umb.edu</a></li>
<li>Allison Hall, Co-Principal Investigator and Research Director; <a href="mailto:allison.hall@umb.edu">allison.hall@umb.edu</a></li>
<li>Cindy Thomas, Training and Technical Assistance Director; <a href="mailto:cindy.thomas@umb.edu">cindy.thomas@umb.edu</a></li>
</ul>

		</div>
	</div>
</section>
