 <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Partners</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
              <p>  

<ul>
<li><a href="http://www.thearc.org/">The Arc of the United States</a></li>
<li><a href="http://rtc.umn.edu/rtc/">Research and Training Center on Community living at the University of Minnesota</a></li>
<li><a href="https://www.nasddds.org/">National Association of State Directors of Developmental Disabilities Services</a></li>
<li><a href="http://www.sabeusa.org/">Self-Advocates Becoming Empowered (SABE)</a></li>
<li><a href="http://www.apse.org/">APSE (the Association of People Supporting Employment First)</a></li>
</ul>
</p>
            </div>
        </div>
    </section>