    <!-- Footer -->
    <footer>
        <div class="footer-above">
            <div class="container">
                
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; {{ site.footer.copyright }} 20{{ site.time | date: '%y' }}
                        <p>Think Work is the hub for an array of programs related to employment for people with IDD at the Institute for Community Inclusion at the University of Massachusetts Boston.</p>
                        <p><img src="img/ICI_UMB_blue.png" alt="umb ici logos"></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
