    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                <div style="max-width:800px; padding-top:10em; margin:auto;">

                <h4><b>Rehabilitation Research and Training Center on Advancing Employment
for Individuals with Intellectual and Developmental Disabilities</b></h4>
<p><span class="skills">A project of</p>
                    <img class="img-responsive" src="{{ site.baseurl }}/img/thinkwork_no_tagline.png" alt="">
                                            <!--<span class="name">{{ site.title }}</span>-->
                        <p class="right"><span class="skills">at the Institute for Community Inclusion, UMass Boston</span></p>
                </div>
            </div>
        </div>
    </header>