
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Strands</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
              <h3>(1)  Choosing work: Effective knowledge translation and support for individuals and families</h3>

<p>The goal of this line of research is to create a comprehensive information, outreach, and support framework for individuals and families that enables ready and timely access to information about employment throughout the lifespan. Research activities include a scoping literature review, online and in-person focus groups with individuals with IDD and their family members, and the development and testing of an intervention that promotes individual and family engagement in employment planning.</p>

<p>Contact: John Kramer
<a href="mailto:John.kramer@umb.edu">John.kramer@umb.edu </a></p>

<h3>(2)   Increasing the effectiveness of employment consultants</h3>

<p>This work will define a model for employment support that incorporates research, practice, job seeker support needs, organizational culture, and personal resources. Project partners and staff will implement an intervention to improve the quality of services provided by employment consultants through online training, data-based performance feedback, and facilitated peer-to-peer support.</p>

<p>Contact: Alberto Migliore
<a href="mailto:Alberto.migliore@umb.edu">Alberto.migliore@umb.edu</a></p>

<h3>(3)  Building capacity and supporting organizational transformation for community rehabilitation providers (CRPs)</h3>

<p>Project staff will develop a model framework and toolkit to support community rehabilitation providers in implementing an Employment First focus. The demonstration of an efficient, scalable strategy that enables CRPs to create change within their own organizations is a key feature of this research.</p>

<p>Contact: Jaimie Timmons
<a href="mailto:Jaimie.timmons@umb.edu">Jaimie.timmons@umb.edu</a></p>

<h3>(4)  Policies and practices of high-performing state employment systems</h3>

<p>This research strand will define the characteristics of a high-performing state system that promote cross-agency and resource integration; identify effective state practices and policies that lead to employment outcomes; and describe Employment First policy implementation and outcomes at both the national and state level.</p>

<p>Contact: Allison Hall
<a href="mailto:Allison.hall@umb.edu">Allison.hall@umb.edu</a></p>

<!--<p>For more information
    - (link to press release)
    - (link to fact sheet)
    - (link to Butterworth blog post?)</p>-->

            </div>
        </div>
    </section>