
    <!-- Portfolio Grid Section -->
    <section id="pubs">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Publications</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
            <div class="container">
<div class="panel panel-default" style="max-width:400px; margin:auto;">
  <div class="panel-heading"><h3 class="panel-title">Downloads for APSE 2015</h3></div>
  <div class="panel-body">
<p>Butterworth, J., Winsor, J., Migliore, A., Nord, D., Brent, B. (2015). <i>Bringing employment first to scale: Integrating the evidence for a comprehensive model for change.</i> 2015 APSE National Conference. Philadelphia, PA, June 23-25, 2015</p>
<p><a href="/img/APSE-Bringing Employment First to Scale.pptx"><img src="/img/ppt.png" alt="powerpoint download" style="max-width:100px;" /><br />
  Dowload the PowerPoint</a></p>
  <hr />
   <p>Migliore, A., Kelly, N, Jeannine P., Aalto S. (2015) <em>Increasing Organizational Accountability and Performance: Activity Tracking for Employment Consultants</em>. 2015 APSE National Conference. Philadelphia, PA, June 23-25, 2015.
  <p><a href="/img/APSE Increasing organizational accountability AltText 060915.pptx"><img src="/img/ppt.png" alt="powerpoint download" style="max-width:100px;" /><br />
  Dowload the PowerPoint</a></p>
    
      
  </div>
</div>
<div class="panel panel-default" style="max-width:400px; margin:auto;">
  <div class="panel-heading">
    <h3 class="panel-title">BRINGING EMPLOYMENT FIRST TO SCALE</h3>
  </div>
  <div class="panel-body">
  <p>Download issue 1 of 5</p>
  <center>
    <p><a href="/img/issue1_F2.pdf"><img src="/img/issue1_F2_thumb.png" alt="dowload BRINGING EMPLOYMENT FIRST TO SCALE" /></a></p>
    </center>
  </div>
</div>
            <div class="panel panel-default" style="max-width:400px; margin:auto;">
  <div class="panel-heading">
    <h3 class="panel-title">Download the RRTC Fact Sheet</h3>
  </div>
  <div class="panel-body">
  <center>
    <p><a href="/img/RRTC_factsheet_F.pdf"><img src="/img/RRTC_factsheet_F_.png" alt="dowload the RRTC factsheet" /></a></p>
    </center>
  </div>
</div>
           
         
        </div>
    </section>