
    <!-- Portfolio Grid Section -->
    <section id="pubs">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Publications</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
            <div class="container">
<div class="panel panel-default" style="max-width:400px; margin:auto;">
  <div class="panel-heading"><h3 class="panel-title">Downloads for APSE 2015</h3></div>
  <div class="panel-body">
  
  <p><a href="/img/APSE Increasing organizational accountability AltText 060915.pptx"><img src="/img/ppt.png" alt="powerpoint download" style="max-width:100px;" /><br />
  Dowload the PowerPoint</a></p>
    
    <p>Migliore, A., Kelly, N, Jeannine P., Aalto S. (2015) <em>Increasing Organizational Accountability and Performance: Activity Tracking for Employment Consultants</em>. 2015 APSE National Conference. Philadelphia, PA, June 23-25, 2015.   
  </div>
</div>

            <div class="panel panel-default" style="max-width:400px; margin:auto;">
  <div class="panel-heading">
    <h3 class="panel-title">Download the RRTC Fact Sheet</h3>
  </div>
  <div class="panel-body">
  <center>
    <p><a href="/img/RRTC_factsheet_F.pdf"><img src="/img/RRTC_factsheet_F_.png" alt="dowload the RRTC factsheet" /></a></p>
    </center>
  </div>
</div>
           
            </div>
        </div>
    </section>